<IfModule mod_rewrite.c>
RewriteEngine on
Options -Indexes


ErrorDocument 403 http://localhost/vape-stuff/404
ErrorDocument 404 http://localhost/vape-stuff/404


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^(./)$ login.php [NC,L]

</IfModule>